.div-wrapper {
  background-color: rgba(0, 0, 0, 0.18);
  padding: 1.6rem;
  border-radius: 6px;
  margin-top: 50px;
  margin-bottom: 50px;
}

label.label {
  color: #c1c1c1;
}

footer.footer {
  padding: 3rem;
}
