.input {
  background: #222;
  color: #c1c1c1;
  border-color: #222;

  &:focus,
  &.is-focused {
    border-color: #b23bf0;
  }
  &:disabled {
    background: #363636;
    border-color: #363636;
  }
}
textarea.input {
  min-height: 50px;
}
